// .carousel :global(.splide__slide) {
//   opacity: 0.35;
//   transition: opacity 0.05s ease;
//   border-radius: 40px;
// }

// .carousel :global(.splide__slide.is-active) {
//   opacity: 1;
// }

// .foodItemCarouselImage {
//   border-radius: 10px;
// }

.foodItemCarouselContainer {
  background: linear-gradient(90deg, #fffbde 44.38%, #ffd95d 201.72%);
}

.reelsThumbnail {
  height: 600px;
  width: 390px;
  @media (max-width: 576px) {
    height: 600px;
    width: 350px;
  }
}
