.customBackground {
  background: linear-gradient(90deg, #fffbde 44.38%, #ffd95d 201.72%);
}

.cardContainer {
  display: flex;
  flex-direction: row;
}

.cardImage {
  width: 300px;
  object-fit: scale-down;
}

.cardBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
  }

  .cardImage {
    width: 100%;
    height: auto;
  }
}

.category {
  color: #dc3545;
  text-transform: uppercase;
  font-weight: 700;
}

.itemPrice {
  color: #dc3545;
  font-weight: 600;
  letter-spacing: 0.1rem;
  @media (max-width: 576px) {
    font-size: 14px;
  }
}

.itemTitle {
  color: #dc3545;
  font-weight: 600;
  @media (max-width: 576px) {
    font-size: 20px;
  }
}

$accordion-collapsed-color: #6c757d;
$accordion-expanded-color: #0d6efd;
$accordion-collapsed-bg: #f8f9fa;
$accordion-expanded-bg: #e7f1ff;

.customAccordion {
  // Override Bootstrap's CSS variables
  --bs-accordion-active-bg: #f7f3cd;

  --bs-accordion-bg: #f8f9fa; // collapsed bg

  // Optional: override border color
  --bs-accordion-border-color: #ff9933;
}
