.footer {
  background: linear-gradient(90deg, #fffbde 44.38%, #ffd95d 201.72%);
  border-radius: "10px";
  padding: "20px";
  color: "#333";
}

.brandName {
  text-transform: capitalize;
  font-weight: 700;
  color: #dc3545;
}

.socialIcons {
  // font-size: 15px;
  display: flex;
  justify-content: space-between;
}
