.orderBtn {
  background-color: var(--color-green);
  color: white;
  &:hover {
    background-color: darkcyan;
    color: white;
  }
}

.navbarNav {
  display: flex; // Enable flexbox
  gap: 2rem; // 👈 Equal spacing between items — this is key!
  margin-left: auto; // Push to right (alternative to ms-auto)
  align-items: center;
}

.brandName {
  text-transform: capitalize;
  font-weight: 700;
  color: #dc3545;
}

.navLink {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  padding: 0.5rem 1rem;

  &.active {
    font-weight: bold;
    color: #0edd64;
    font-size: 32px;
  }
}
